@tailwind base;

@layer base {
  :root {
    --primary: #ac90d9;
    --secondary: #faeaff;
    --black: #120e0e;
    --grayscale: #ccc;
  }

  @font-face {
    font-family: 'Gotham';
    font-weight: 900;
    src: url('../assets/fonts/GothamBold.woff2') format('woff2');
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }

  ::selection {
    color: var(--primary);
    background: var(--secondary);
  }

  body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.04;
    z-index: 1500;
    pointer-events: none;
    background: url(/assets/gif/noise.gif);
  }
}
