<footer
  class="bg-[#4A4453] md:bg-white md:container md:mx-auto md:max-w-[95rem] py-10"
>
  <div class="flex flex-col md:flex-row justify-between py-[40px] md:py-[90px]">
    <div class="mx-auto md:mx-0">
      <h1
        class="text-white md:text-black text-[3rem] md:text-[4rem] text-center md:text-left text-black leading-none font-medium md:font-semibold"
      >
        Have an idea?
      </h1>
      <a
        class="flex items-center justify-center md:items-start md:justify-start text-white md:text-black text-[2.5rem] md:text-[4rem] text-black leading-none font-medium md:border-b-2 underline md:no-underline md:border-[#120E0E] hover:text-[#AC90D9] hover:border-[#AC90D9] duration-200 !text-center w-full md:w-fit"
        href="/contact"
        onclick="route()"
        >Contact me</a
      >
    </div>
    <div
      class="hidden md:inline-flex md:flex-row space-y-4 md:space-y-0 mt-10 md:mt-0"
    >
      <ul class="md:mx-10">
        <li>
          <a class="footer-link" href="#!">Who am i?</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Selected works</a>
        </li>
        <li>
          <a class="footer-link" href="#!">What I do?</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Contact</a>
        </li>
      </ul>
      <ul class="md:mx-10">
        <li>
          <a class="footer-link" href="#!">Tutorials</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Blog</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Sources</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col md:flex-row md:items-center md:space-x-2">
    <span class="hidden md:block text-lg text-gray-500 font-medium"
      >2023 &copy;</span
    >
    <a
      class="footer-link text-white md:text-black text-center text-[18px] md:text-gray-500 hover:!text-black md:border-b-2"
      href="#!"
      >mukhammadxuja@gmail.com</a
    >
    <div class="block md:hidden space-y-1">
      <p class="text-[14px] font-medium text-center text-gray-200 py-2">
        Jizzakh, Uzbekistan
      </p>
      <div class="flex items-center justify-center space-x-2 my-4 pt-4">
        <a href="https://github.com/mukhammadxuja" target="_blank" rel="noopener noreferrer">
          <img
            title="Github"
            class="w-[30px] h-[30px]"
            src="../assets/images/social/github.png"
            alt="github - image"
          />
        </a>
        <a href="https://t.me/akzmsh" target="_blank" rel="noopener noreferrer">
          <img
            title="Telegram"
            class="w-[35px] h-[35px]"
            src="../assets/images/social/telegram.png"
            alt="telegram - image"
          />
        </a>
        <a href="https://www.linkedin.com/in/mukhammad-anvarov-b88543269/" target="_blank" rel="noopener noreferrer">
          <img
            title="Linkedin"
            class="w-[35px] h-[35px]"
            src="../assets/images/social/linkedin.png"
            alt="linkedin - image"
          />
        </a>
        <a href="https://www.instagram.com/anvarv__/" target="_blank" rel="noopener noreferrer">
          <img
            title="Instagram"
            class="w-[30px] h-[30px]"
            src="../assets/images/social/instagram.png"
            alt="instagram - image"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
