<footer class="container mx-auto py-[130px] flex justify-around">
  <div>
    <h1 class="text-[4rem] text-[#0d0d0d] leading-none font-semibold">
      Have an idea?
    </h1>
    <a
      class="text-[4rem] text-[#0d0d0d] leading-none font-medium border-b-2 border-[#120E0E] hover:text-[#AC90D9] hover:border-[#AC90D9] duration-200"
      href="/contact"
      onclick="route()"
      >Contact me</a
    >
  </div>
  <div class="flex">
    <ul class="mx-10">
      <li>
        <a class="footer-link" href="#!">Who am i?</a>
      </li>
      <li>
        <a class="footer-link" href="#!">Selected works</a>
      </li>
      <li>
        <a class="footer-link" href="#!">What I do?</a>
      </li>
      <li>
        <a class="footer-link" href="#!">Contact</a>
      </li>
    </ul>
    <ul class="mx-10">
      <li>
        <a class="footer-link" href="#!">Tutorials</a>
      </li>
      <li>
        <a class="footer-link" href="#!">Blog</a>
      </li>
      <li>
        <a class="footer-link" href="#!">Sources</a>
      </li>
    </ul>
  </div>
</footer>
