<footer class="container mx-auto max-w-[95rem] py-10">
  <div class="flex flex-col md:flex-row justify-between py-[40px] md:py-[90px]">
    <div>
      <h1 class="text-[3rem] md:text-[4rem] text-black leading-none font-semibold">
        Have an idea?
      </h1>
      <a
        class="text-[2.5rem] md:text-[4rem] text-black leading-none font-medium border-b-2 border-[#120E0E] hover:text-[#AC90D9] hover:border-[#AC90D9] duration-200"
        href="/contact"
        onclick="route()"
        >Contact me</a
      >
    </div>
    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 mt-10 md:mt-0">
      <ul class="md:mx-10">
        <li>
          <a class="footer-link" href="#!">Who am i?</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Selected works</a>
        </li>
        <li>
          <a class="footer-link" href="#!">What I do?</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Contact</a>
        </li>
      </ul>
      <ul class="md:mx-10">
        <li>
          <a class="footer-link" href="#!">Tutorials</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Blog</a>
        </li>
        <li>
          <a class="footer-link" href="#!">Sources</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col md:flex-row md:items-center md:space-x-2">
    <span class="text-lg text-gray-500 font-medium">2023 &copy;</span>
    <a class="footer-link text-[18px] text-gray-500 hover:!text-black border-b-2" href="#!"
      >mukhammadxuja@gmail.com</a
    >
  </div>
</footer>
