@tailwind base;

@layer base {
  :root {
    --bg: #f1f0f1;
    --primary: #0d0d0d;
    --secondary: #c6ff97;
    --inreport-primary: #3b82f6;
    --inreport-lighter: #00b5ff;
    --inreport-secondary: #e8efff;
    --dotsoft-primary: #056c97;
    --dotsoft-lighter: #008eac;
    --dotsoft-secondary: #e6f4f1;
    --edteach-primary: #6a5ae0;
    --edteach-lighter: #af96ff;
    --edteach-secondary: #f6ebff;
    --lazydev-primary: #1a5cff;
    --lazydev-lighter: #007bff;
    --lazydev-secondary: #f1edff;
    --black: #120e0e;
    --grayscale: #ccc;
  }

  ::selection {
    color: white;
    background: var(--primary);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
    padding-right: 5px;
  }

  @font-face {
    font-family: "Gotham";
    font-weight: 900;
    src: url("../assets/fonts/GothamBold.woff2") format("woff2");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }

  body::before,
  #preloader::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.04;
    z-index: 1500;
    pointer-events: none;
    background: url(../assets/gif/noise.gif);
  }
}
