#heading {
  perspective: 100px;
  transform-style: preserve-3d;
  display: inline-flex;
}

header.reveal {
  transform: none;
}

.text-animation {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

active {
  background: #ac90d9;
  color: white;
}

#snackbar {
  visibility: hidden;
  /* min-width: 250px; */
  display: flex;
  align-items: center;
  margin-left: -125px;
  position: fixed;
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 14px 10px;
  background-color: white;
  color: var(--primary);
  z-index: 1;
  left: 50%;
  top: 30px;
}

#snackbar p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.status.online {
  display: none;
}

.status.offline {
  border: 2px solid #f15c4f;
  background-color: #f3d7d4;
  color: #f15c4f;
}

.status p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
}

.status.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

.sending {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.test-text {
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-60deg) rotateY(0deg)
    rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg)
    skewY(0deg);
  perspective: 800px;
}

.show-menu {
  display: block;
  opacity: 1;
}

.hide {
  display: none;
}

#right {
  position: relative;
}
#right img {
  max-width: 40%;
  display: block;
}
#right .sticky {
  height: 86vh;
  position: sticky;
  top: 7vh;
  right: 0;
  bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;
}
#right .sticky-wrapper {
  position: relative;
  z-index: 1;
  height: calc(2 * 100vh);
}
#right .sticky .wipe-stack {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#right .sticky-wipe {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#right .sticky-wipe.item-1 {
  z-index: 2;
}
#right .sticky-wipe.item-2 {
  z-index: 3;
  clip-path: inset(0% 0px 0px);
}

